<!--{{debug mydata}}-->
<!--{{debug allerrors}}-->
<!--{{debug percent}}-->
<!--{{debug timetaken}}-->

<div id="resultsDiv">
    <p id="firstLine">{{greet}}</p>
    <p id="numErrors">{{mydata.numErrors}} Errors Made</p>
    <p id="percentLine">{{mydata.accuracy}}% Success Rate</p>
    <p id="timeLine">{{mydata.time}} Seconds Taken</p>
    <!---->
    <!--<p id="numErrors">{{allerrors}} Errors Made</p>-->
    <!--<p id="percentLine">{{percent}}% Success Rate</p>-->
    <!--<p id="timeLine">{{timetaken}} Seconds Taken</p>-->
</div>

<br>

<button type="submit" id="homeBtn" name="homeBtn">Home</button>

<form action="/anotherGo" method="get">
    <button type="submit" id="anotherBtn" name="anotherBtn">Another</button>
</form>