<h1>{{title}}</h1>
<h2>High Scores</h2>




<table id="dataTable">
    <!--TODO move all table stuff into handlebars once finalized    -->
    <tr> <th>Username</th><th>Time</th><th># Err</th><th>% Acc</th><th>Best (something}</th> </tr>


    {{#each users}}
        <tr>
            <td>{{users.username}}</td>
            <td>{{users.time}}</td>
            <td>{{users.numErrors}}</td>
            <td>{{users.accuracy}}</td>
            <td>{{users.local.username}} testing</td></tr>
    {{/each}}


    {{#if data}}
        <!--TODO not sure if can pass tr with td or just td...-->
        {{data}}
    {{else}}
        <!--Puts above table headers if the tr element tags aren't added-->

        <tr><td> </td><td> </td><td> </td><td> </td><td> </td></tr>

        <br> <tr>No data to show.</tr>
    {{/if}}

</table>


<br>
<form action="/typethis" method="get">
<button type="submit" id="playBtn" name="playBtn" value="Play">Play</button>
</form>
<br>
<p><a href="/logout">Logout</a></p>