<h1>{{title}}</h1>
<h2>High Scores</h2>

<table id="dataTable" name="dataTable">
    <!--TODO move all table stuff into handlebars once finalized    -->
    <tr> <th>Username</th><th>Time</th><th># Err</th><th>% Acc</th><th>Best (something}</th> </tr>


    {{#each users}}
        <tr>
            <td>{{this.user}}</td>
            <td>{{this.time}}</td>
            <td>{{this.numErrors}}</td>
            <td>{{this.accuracy}}</td>
        </tr>
    {{/each}}
</table>

<br>

<form action="/typethis" method="get">
<button type="submit" id="playBtn" name="playBtn" value="Play">Play</button>
</form>

<br>

<p><a href="/logout">Logout</a></p>